.footer {
    width: 100%;
    height: 20vh;
    color: #fff;
    background-color: #353230;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*#352330*/
.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    text-align: center;
    margin: 0 auto;
}

.contatos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.copyright{
    font-size: x-small;
    text-align: center;
}

.footerLinks {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.footerLinks:hover, .contatos p:hover {
    color: #cdb289;
}