.nav_organizar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    position: relative;
    top: 0;
    z-index: 99;
    background-color: transparent;
}

.nav_organizar ul li {
    display: inline-block;
    margin: 0 15px;
}

.nav_organizar ul li a {
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 15px;
}

.nav_organizar .logo a {
    font-size: 25px;
    font-weight: 700;
}

.nav_organizar .logo a span {
    color: rgb(0, 0, 0);
}

.search_bar {
    display: flex;
    align-items: center;
}

.search_bar input{
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    margin-right: 5px;
}

.search_bar button {
    padding: 5px 10px;
    border: none;
    background-color: #444;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.search_bar button:hover {
    background-color: #444;
}